.sponsers{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    padding-bottom: 2rem ;

    &_img{
        height: 24px;
        margin: 20px ;
    }
}
@media screen and (max-width: 490px){
    .sponsers_img{
        height: 20px;
    }
}