@use "../../variables.scss" as *;

.wgpt3-wrapper {
    background: 
    radial-gradient( circle at top left,
    #0F4279, transparent 200px),
    radial-gradient(circle at bottom right,
    #1B78DE, transparent 200px),
    #042C54;
}

.wgpt3__intro{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    
    h2 {
        flex: 1;
        margin: 10px 0;
    }

    p {
        flex: 2;
        margin: 10px 0;
    }
}
.wgpt3__features{
    display: flex;
    flex-flow: column wrap;

    &-header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        
        width: 100%;
        padding-bottom: 4rem;
        
        &-h{
            max-width: 470px;
            margin: 0;

            font-size: $h2-md;
            line-height: 45px;
            font-weight: 800;
        }

        &--explore{
            color: #FF8A71;
            margin-left: auto;

            font-size: $p-md;
            font-weight: 500;
            line-height: 45px;
        }
    }
    &-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        width: 100%;

        &_item {
            min-width: 150px;
            flex: 1;

            margin: 20px 0;
            margin-right: 40px;

            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            

            h2 {
                line-height: 75px;
            
                &::before{
                    margin-bottom: -.5rem;
                }
            }            
        }
    }
}

@media screen and (max-width: 920px) {
    .wgpt3__intro {
        flex-direction: column;
    }
}

@media screen and (max-width: 560px) {
    .wgpt3__intro {
        flex-direction: column;
    }


    .wgpt3__features-header{
        flex-direction: column;

        &-h {
            font-size: $h3-sm;
        }
        
        &--explore {
            font-size: $p-sm;
        }
    }
}

@media screen and (max-width: 450px) {
    .wgpt3__features-content_item {
        margin-right: 0;
    }    
}