@use "../../variables.scss" as *;

.article{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            max-height: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-flow: column wrap;

        background-color: #042C54;
        color: white;

        padding: 1rem;

        &_date {
            font-size: $p-xs;
            font-weight: 700;
            line-height: 35px;
        }

        &_title {
            margin-bottom: 20px;

            font-size: $h3-sm;
            font-weight: 800;
            line-height: 30px;
        }

        &--more {
            margin-top: auto;

            font-size: $p-xs;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 550px) {
    .article__content_title {
        font-size: $h2-xs;
        line-height: 25px;
    }
}