@use "../../variables.scss" as *;

.gpt3__CTA {
    
    border: 1px solid black;
    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: $gradient-bar;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    &_text {
        &-sm {
            font-size: $p-xs;
            line-height: 30px;
            font-weight: 500;
        }
        &-lg {
            font-size: calc(1.125 * $p-md);
            line-height: 45px;
            font-weight: 800;
        }
    }

    &--btn{
        max-width: 190px;
        display: block;

        padding: 0 40px;
        margin-left: auto;

        border-radius: 40px;
        border: none;

        background-color: black;
        color: white;

        font-size: $p-md;
        font-weight: 700;
        line-height: 50px;
    }
}


@media screen and (max-width: 650px){
    .gpt3__CTA {
        flex-direction: column;

        &_text-sm {
            line-height: 20px;
        }
        
        &_text-lg {
            font-size: $p-md;
            line-height: 30px;
        }

        &--btn{
            margin-top: 16px;
            font-size: $p-sm;
        }
    }
}
