@use "../../variables.scss" as *;

.gpt3__blog {
    margin-top: 20px;

    &-headline {
        font-size: $h1-xl;
        line-height: 75px;
        font-weight: 800;
        letter-spacing: -0.04em;
    }
    
    &-articles {
        margin: 4rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    &-articles_item {
        grid-column: span 2;

        margin: 15px;
        margin-left: 0;

        &:first-child {
            grid-row: 1 / span 2;

            h3 {
                font-size: $h3-md;
            }
        }

    }
}
@media screen and (max-width: 700px){
    .gpt3__blog-headline {
        font-size: $h1-lg;
        line-height: 52px;
    }

    .gpt3__blog-articles_item {
        margin-right: 0;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__blog {
    
        &-headline {
            font-size: $h1-sm;
            line-height: 42px;
        }

        &-articles_item:first-child{
            h3 {
                font-size: $h2-xs;
            }
        }
    }
    
}