@use "../../variables.scss" as *;

.gpt3__navbar{
    display: flex;
    align-items: center;

    &-links{
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &_logo {
            display: flex;
            align-items: center;

            margin-right: 20px;
            
            img {
                width: 62.56px;
                height: 16.02px;
            }
        }
        &_container{
            display: flex;
            
            p {
                margin: 10px;
            }
        }
    }
    &-sign{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        
        margin-left: auto;

        &_in, &_up {
            font-size: $p-md;
        }
        
        &_up{
            padding: 12px 40px;
            cursor: pointer;
        
            background-color: #FF4820;
            color: white;
        
            border: none;
            border-radius: 8px;
            outline: none;
        
            font-weight: 500;
            line-height: 25px;
        }
    }
}

.gpt3__navbar-menu_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-links_container p
 {
    color: white;
    
    font-size: $p-md;
    font-weight: 500;
    line-height: 25px;

    margin: 0 1rem;
    cursor: pointer;
}

.gpt3__navbar-menu {
    display: none;
    position: relative;

    margin-left: 10px;

    svg {
        cursor: pointer;
    }

    &_container{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        text-align: end;
        background: $color-footer;

        position: absolute;
        top: 40px;
        right: 0;
        
        min-width: 200px;

        padding: 1rem 2rem;
        margin-top: 1rem;

        border-radius: 5px;
        box-shadow: 0 0 5 rgba(0,0,0,0.2);

        p {
            margin: 1rem 0;
        }

        &-links-sign {
            display: none;
        }
    }
}


@media screen and (max-width: 1050px){
    .gpt3__navbar-links {
        justify-content: space-between;
    }
    .gpt3__navbar-links_container{
        display: none;
    }
    
    .gpt3__navbar-menu {
        display: flex;
    }
}
@media screen and (max-width: 550px){

    .gpt3__navbar-sign {
        display: none;
    }
}