@use "../../variables.scss" as *;

.header{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 6rem;
    
    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__content{
        flex: 1;
    }
}
.header__content {
    &-headline {
        line-height: 75px;
        font-weight: 800;
        letter-spacing: -0.04em;
        font-size: 62px;
    }

    &-paragraph {
        color: $color-text;
        line-height: 27px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
    }
    
    &-getStarted {
        display: flex;
        padding: 2rem 0;
        input {
            padding: 1rem;
            background: #052D56;
            border-radius: 5px 0px 0px 5px;
            border: none;
            color: $color-text;
            &::placeholder{
                color: $color-text;
            }
            flex: 0.7;
        }
        button {
            flex: 0.3;
            background-color: $color-button;
            border: none;
            outline: none;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            border-radius: 0px 5px 5px 0px;
            cursor: pointer;
        }
    }

}

.header__content-requests{
    display: flex;
    gap: 10px;
    align-items: center;
    &_images{
        display: flex;
        align-items: center;
        img{
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: 2px solid white;
            &:not(:first-child){
                margin-left: -8px;
            }
        }
        &-more{
            width: 36px;
            height: 36px;
            border: 2px solid white;
            background-color: cadetblue;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            line-height: 34px;
            font-size: 10px;
            font-weight: 800;
            color: white;
            margin-left: -8px;
        }
    }
    &_paragraph{
        color: white;
        font-size: 12px;
        font-weight: 500;
        line-height: 38px;
    }
}



@media screen and (max-width: 1050px){
    .header{
        flex-direction: column;
    }
}
@media screen and (max-width: 650px){
    .header{
        padding: 2rem;
    }
    .header__content {
        &-headline {
            font-size: 48px;
            line-height: 60px;
        }
    
        &-paragraph {
            font-size: 16px;
            line-height: 24px;
        }
        &-requests {
            flex-direction: column;
        }
        &-getStarted {
            input,
            button{
                font-size: 16px;
            }
        }
    }

}
@media screen and (max-width: 490px){
    .header__content {
        &-headline {
            font-size: 36px;
            line-height: 48px;
        }
    
        &-paragraph {
            font-size: 14px;
            line-height: 24px;
        }
        &-getStarted {
            input,
            button{
                font-size: 14px;
            }
        }
    }
}
@media screen and (max-width: 350px) {
    .header{
        padding: 1rem;
    }
}