@use "../../variables.scss" as *;

.header{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    
    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        img{
            width: 100%;
            height: 100%;
        }
    }

    &__content{
        flex: 1;
    }
}
.header__content {
    
    &-headline {
        font-size: $h1-xl;
        line-height: 75px;
        font-weight: 800;
        letter-spacing: -0.04em;
    
        margin-bottom: 1rem;
    }

    &-paragraph {
        color: $color-text;
    
        line-height: 27px;
        font-size: $p-lg;
        font-weight: 400;
        line-height: 1.5;
    }
    
    &-getStarted {
        display: flex;
        flex-flow: row wrap;

        padding: 2rem 0;
    
        input {
            flex-grow: 1;
            
            padding: 1rem;
            margin-top: 5px;
        
            color: $color-text;
            background: #052D56;
        
            border-radius: 5px 0px 0px 5px;
            border: none;
        
            &::placeholder{
                color: $color-text;
            }
        }
        button {
            flex-grow: 0.3;
            cursor: pointer;

            padding:  0.5rem;
            margin-left: auto;
            margin-top: 5px;

            background-color: $color-button;
            color: white;
        
            border: none;
            border-radius: 0px 5px 5px 0px;
            outline: none;
        
            font-weight: 700;
            font-size: $p-md;        
        }
    }

}

.header__content-requests{
    display: flex;
    align-items: center;

    &_images{
        display: flex;
        align-items: center;

        margin-right: 10px;
        margin-bottom: 10px;
        
        img{
            width: 36px;
            height: 36px;
        
            border-radius: 50%;
            border: 2px solid white;
        
            &:not(:first-child){
                margin-left: -8px;
            }
        }
        &-more{
            display: flex;
            justify-content: center;
            align-items: center;
        
            width: 36px;
            height: 36px;
            margin-left: -8px;
        
            border-radius: 50%;
            border: 2px solid white;
        
            background-color: cadetblue;
            color: white;
        
            p {
                text-align: center;
                font-size: $p-xs;
                font-weight: 800;
            }
        }
    }
    &_paragraph{
        color: white;
        
        margin-bottom: 10px;

        font-size: $p-xs;
        font-weight: 500;
        line-height: 38px;
    }
}



@media screen and (max-width: 1050px){
    .header{
        flex-direction: column;
    }
}
@media screen and (max-width: 650px){

    .header__content {
        &-headline {
            font-size: $h1-lg;
            line-height: 60px;
        }
    
        &-paragraph {
            font-size: $p-md;
            line-height: 24px;
        }
        &-requests {
            flex-direction: column;
        }
        &-getStarted {
            input,
            button{
                font-size: $p-md;
            }
        }
    }

}
@media screen and (max-width: 490px){
    .header__content {
        &-headline {
            font-size: $h1-md;
            line-height: 48px;
        }
    
        &-paragraph {
            font-size: $p-sm;
            line-height: 24px;
        }
        &-getStarted {
            input,
            button{
                font-size: $p-sm;
            }
        }
    }
}


@media screen and (max-width: 350px){
    .header__content {
        &-headline {
            font-size: $h1-xs;
            line-height: 30px;
        }
    
        &-paragraph {
            font-size: $p-xs;
            line-height: 20px;
        }
        &-getStarted {
            input,
            button{
                font-size: $p-xs;
            }
        }
    }
}