@use "../../variables.scss" as *;


.gpt3__footer-wrapper{
    background: #031B34;
}
.gpt3__footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
    &-headline {
        font-size: $h1-xl;
        font-weight: 800;
        
        line-height: 4.5rem;
        letter-spacing: -0.04em;
        text-align: center;
        
        margin-top: 10rem;
        max-width: 51rem;
    }

    &--request {
        font-size: calc(1.125*$p-md);
        line-height: 1.3rem;
        word-spacing: 2px;

        color: white;
        background-color: transparent;

        outline: none;
        border: 1px solid white;
        cursor: pointer;

        padding: 1rem;
        margin-top: 3rem;
        margin-bottom: 10rem;
    }

    &-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        
        color: white;
    }

    &-rights {
        color: white;
        padding-bottom: 1rem;

        font-size: $p-xs;
        line-height: 14px;
    }
}

.gpt3__footer-content {
    &_company {
        grid-column: span 2;

        margin-bottom: 2rem;

        &-logo {
            min-width: 118px;
            margin-bottom: 1rem;
        }

        &-desc {
            font-size: $p-xs;
            line-height: .875rem;
            max-width: 11rem;
        }
    }

    &_nav-col {
        grid-column: span 2;

        margin-bottom: 2rem;

        &_title {
            font-size: $p-sm;
            line-height: 1rem;
            font-weight: 800;
        }
    
        &_links {
            list-style: none;
            
            li {
                font-size: $p-xs;
                line-height: 1.25rem;
                
                margin: 1rem 0;
            }
        }
    
    }
}

@media screen  and (max-width: 850px) {
    .gpt3__footer-headline {
        font-size: $h1-md;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px){
    .gpt3__footer-headline {
        font-size: $h1-sm;
        line-height: 42px;
    }
    .gpt3__footer--request {
        margin-bottom: 5rem;
        
        font-size: $p-sm;
        line-height: 20px;
    }
}

@media screen and (max-width: 350px){
    .gpt3__footer-headline {
        margin-top: 5rem;

        font-size: $h2-sm;
        line-height: 38px;
    }
}